<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Team</title>
	<link rel="stylesheet" href="/scripts/jquery-ui.theme.min.css">
	<script src="/scripts/external/jquery/jquery.js"></script>
	<script src="/scripts/jquery-ui.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css"/>
	<script src="/assets/js/bootstrap.js"></script>	
</head>
<body onload="developers_list();">
    <h1>My Team</h1>
    <div id="developers_list"></div>
    <a href="http://localhost:3000/myTeam/developers/list">developers</a>
</body>
</html>